doctype html
html

  block head
    title Blog Nova Terra Tem
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous")
    link(href="../images/anliben.jpg", rel="shortcut icon", type="image/x-icon")
    link(href="../images/anliben.jpg", rel="apple-touch-icon")
    meta(name='description' content='')
    meta(name='author' content='Anliben Yayoi')
    meta(name='keywords' content='Nova Terra Tem, instagram, News, Newsletter, Noticias, Ribamar')
    meta(property="og:title" content="Blog Nova Terra")
    meta(property="og:description" content="Aqui você pode publicar, vender , ler, e se informar sobre tudo que temos de melhor nosso facebook Certifique-se de postar algo relevante, proibido pornografia, gore, ou pedofilia. | Podem postar, comentar e até mesmo comprar")
    meta(property="og:image" content="../images/anliben.jpg")
    meta(property="og:image:type" content="image/jpeg")
    meta(property="og:image:width" content="800")
    meta(property="og:image:height" content="600")
    meta(property="og:url" content="http://blognovaterra.eu-4.evennode.com/")
    meta(property="og:type" content="article")
    meta(property="article:author" content="Anliben")
    meta(property="article:section" content="post")
    meta(property="article:tag" content="home")
    meta(property="article:published_time" content="actual")
    meta(name="serp-content-type" content="product")
    meta(name="short-title" content="Blog Nova Terra")
    link(rel="canonical" href="http://blognovaterra.eu-4.evennode.com/")
    link(rel="shortlink" href="http://blognovaterra.eu-4.evennode.com/")
  body
    div.pure-g#layout
      div.sidebar.pure-u-1.pure-u-md-1-4
        div.header
            a(href='/')
              h1.classbrand-title Nova Terra Tem
            h2.brand-tagline Aqui tem de tudo
            div.nav
              ul.nav-list
                    li.nav-item
                        a.pure-button(href='/create') Postar Agora 
                    li.nav-item
                      a.pure-button(href='/vagas') Vagas de Emprego 
      div.content.pure-u-1.pure-u-md-3-4
        div
          block content
          div.footer 
            div.pure-menu.pure-menu-horizontal
              .ul
                li.pure-menu-item
                  a.pure-menu-link(href="/about") Sobre Nós
                li.pure-menu-item
                  a.pure-menu-link(href="https://www.facebook.com/novaterratem/") Facebook
                li.pure-menu-item
                  a.pure-menu-link(href="http://github.com/anliben/novaterra") GitHub
                li.pure-menu-item
                  a.pure-menu-link(href="/contrib") Contriua
                  


